* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0
}

header,
footer {
    padding: 16px 48px;
    background-color: #1F2937;
}

header img {
    margin-bottom: 32px;
}

footer p {
    color: #e5e7eb;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

header p,
header a {
    color: #e5e7eb;
    font-size: 18px;
}

#title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0
}

.text {
    width: 1000px;
}

button {
    padding: 16px 32px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

.banner button {
    border: 1px solid white;
    margin-left: 24px;
}

.col {
    display: flex;
    justify-content: space-between;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}

.carousel div {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 12px;
    margin: 24px 0;
}

.carousel ul {
    gap: 32px;
}

.carousel p {
    width: 120px;
    text-align: center;
}

.inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.inspiration div {
    margin-bottom: 24px;
}

.inspiration p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    width: 800px;
    margin-bottom: 0;
}

.author p {
    margin-top: 0;
    text-align: end;
}

.call-action {
    display: flex;
    justify-content: center;
}

.call-action .banner {
    display: flex;
    align-items: center;
    padding: 24px 48px;
    background-color: #3882f6;
    border-radius: 12px;
    color: white;
    margin: 48px 0;
}